<div class="block">
  <ul class="navigation">
    <li><%= link_to("Home", root_path) %></li>
    <li><%= link_to("News", root_path) %></li>
  </ul>
</div>

<div class="block">
  <div class="sidebar-block">
    <h4>The Sidebar</h4>
    <p>This is some text that will appear in the sidebar.</p>
  </div>
</div>
