<% page_title "Breadcrumbs" %>

<%= content_box :headline => 'Some Stuff' do |box| %>
  <%= box.breadcrumbs :id => "foo" do |b|
    b.item "Home", "/"
    b.item "News", "/news", :class => "news"
    b.item "News Item 3", "/news/3", :active => true
  end %>
  <p>This is some stuff.</p>
<% end %>