<% page_title "Hello, world!" %>

<div class="block">
  <%= secondary_navigation do |n|
    n.item "Home", root_path, :active => true
    n.item "Details", root_path
  end %>
  <div class="content">
    <%= controls do |c|
      c.item "New Item", root_path, :icon => "add"
    end %>
    <h2>Hello, world!</h2>
    <div class="inner">
      <p>This is a block of content.</p>
    </div>
  </div>
  <%= breadcrumbs do |b|
    b.item "Home", root_path
  end %>
</div>
